.DS_Store
reports/ToMNet_Taiwan_Chinese_Psychology_Meeting.pptx
reports/20240812_AI計畫年的報告/子計畫六_cn.docx
reports/20240812_AI計畫年的報告/子計畫六_en.docx
reports/20240812_AI計畫年的報告/111年「回應國家重要挑戰之人工智慧主題研究專案」結案報告_傅立成團隊 v.1_子計畫六修訂.docx
reports/20240812_AI計畫年的報告/06子計畫六_計畫書整合_子計畫六_final.docx
reports/20240812_AI計畫年的報告/「回應國家重要挑戰之人工智慧主題研究專案」研究報告撰寫格式_總計畫標註.doc
reports/111年度工程科技中堅躍升研究計畫-JG.docx
reports/111年度工程科技中堅躍升研究計畫-JG.pptx
reports/CM03_最最終版v3.pdf
reports/心理組會/data_dynamic
